.containerfilme {
  height: calc(100vh - 60px);
  width: 100%;
  display: flex;
  padding: 30px;
  color: white;
}

.containerfilme img{
  height: 70%;
  width: 40%;
  border-radius: 10px;
  margin-right: 50px;
}

.containerfilme h1 {
  margin-bottom: 10px;
}

.sinopse {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.nota {
  margin-bottom: 10px;
}

.overview {
  margin-bottom: 10px;
}

.area-button button{
  cursor: pointer;
}

.area-button button a {
  text-decoration: none;
}

.area-button {
  display: flex;
  align-items: center;
  height: 6%;

}

.area-button button {
  height: 90%;
  width: 10%;
  margin-right: 10px;
  border: none;
}

.trailer-filme {
  background-color: #5e00f5;
}

.trailer-filme:hover {
  background-color: #5e00f59c;
}

.trailer-filme a {
  color: white;
}

.salvar-filme {
  background-color: #eb00df;
  color: white;
}

.salvar-filme:hover {
  background-color: #eb00df8f;
}